{% extends "esqueleto.html" %}
{% block content %}
<h4>Introduce un libro</h4>
<form id="book_input"
      action="/book"
      method="POST"
      enctype="multipart/form-data">
    <input type="text" name="title" placeholder="título" maxlength="80" required="True">
    <select id="add_book_category" name="category">
        <option value="" selected="selected">Categoría</option>
        <option value="suspense">Suspense</option>
        <option value="terror">Terror</option>
        <option value="fantasy">Fantasía</option>
        <option value="non-fiction">No ficción</option>
        <option value="technology">Tecnología</option>
    </select>
    <textarea id="add_description" rows="4" cols="50" maxlength="500" name="description"
              placeholder="descripción (max 500 caracteres)"></textarea>
    <input type="file" name="src" placeholder="Portada" accept="image/png, image/jpeg" required="True">
    <input id="submit-button" type="submit" value="Enviar">
</form>
<div class="button-container">
    <a href="/" class="return-button fas fa-arrow-left fa-2x"></a>
</div>
{% endblock %}