{% extends "esqueleto.html" %}
{% block content %}
<div class="book_detail">
    <img src="data:image/png;base64,{{book.src.encode('base64')}}" alt="{{ book.title }}"
         title="{{ book.title }}">

    <div class="book_detail_details">
        <h3>{{ book.title }}</h3>
        <p>{{ book.description }}</p>
    </div>
</div>
<div class="previous_votes">
    {% if book.votes.count() > 0 %}
    <h4>Opiniones de otros usuarios</h4>
    {% endif %}
    {% for vote in book.votes %}
    <div class="vote">
        <div>
            <p class="vote-user">{{vote.user}}</p>
            <p>{{vote.comment}}</p>
        </div>
        <div class="vote_stars">
            {% for i in range(0, vote.stars|int) %}
            <i class="fas fa-star"></i>
            {% endfor %}
            {% if vote.stars|int < vote.stars %}
            <i class="fas fa-star-half-alt"></i>
            {% endif %}
            {% for i in range(0, (5 - vote.stars|round|int)) %}
            <i class="far fa-star"></i>
            {% endfor %}
        </div>
    </div>

    {% endfor %}
</div>
<h4>Introduce una opinión</h4>
<form id="book_input"
      action="/vote"
      method="POST">
    <input type="hidden" name="book_id" value="{{ book.id }}"/>
    <textarea id="add_comment" rows="5" cols="70" maxlength="300" name="comment"
              placeholder="comentario (max 300 caracteres)"></textarea>
    <ul class="book_stars">
        {% for i in range(0, 5) %}
        <button type="submit" class="far fa-star" name="stars" value="{{i+1}}"></button>
        {% endfor %}
    </ul>
</form>
<div class="button-container">
    <a href="/" class="return-button fas fa-arrow-left fa-2x"></a>
</div>
{% endblock %}