{% extends "esqueleto.html" %}
{% block content %}
<div id="index_header">
    <h2>Bienvenido a Book Recommendations</h2>
    {% if book_cards | length %}
    <h4>Aquí tienes algunos libros interesantes (clica en uno para ver las valoraciones)</h4>
    {% endif %}
</div>

<div class="book_cards">
    {% for book_card in book_cards %}
    {% with book_card=book_card %}
    {% include "book_card.html" %}
    {% endwith %}
    {% endfor %}
</div>

<form id="add_book_form" action="/book" method="POST">
    {% if book_cards | length %}
    <p>¿No encuentras el libro que buscas?</p>
    {% endif %}
    <input id="add_book" type="submit" value="Añade un libro"/>
</form>
{% endblock %}
